body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'BebasNeue';
    font-size: 40px;
    text-align: center;
    text-decoration: underline 10px red ;
}
.main-block {
    margin-top: 200px;;}